/* Custom CSS */
nav {
    background-color: #933800!important; /* Green color */
}
.navbar-nav .nav-item a.nav-link {
    color: #FFBB07; /* Change text color to yellow */
    font-weight: bolder;/* Make the text bold */
}
.blur-background {
    backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
}

button:hover{
    color:black
}

.card-img {
    width: 100%;
    height: 250px; /* adjust as needed */
    object-fit: cover;
}
.card-body{
    background-color: antiquewhite;
   
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

