/* Custom CSS */
nav {
    background-color: #933800!important; 
}
.navbar-nav .nav-item a.nav-link {
    color: #FFBB07; 
    font-weight: bolder;
}
.blur-background {
    backdrop-filter: blur(10px); 
}

button:hover{
    color:black
}

.card-img {
    width: 100%;
    height: 250px; 
    object-fit: cover;
}
.card-body{
    background-color: antiquewhite;
   
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-inner{
    background-color: #933800;
    border-radius: 25px;
  
    
}
.card-outer{
    background-color: antiquewhite;
    border-radius: 25px;
}

.card-inner .card-text {
    color: white;
}

.card-inner .card-title {
    color: #FFBB07;
    font-size: 60px;
    font-weight: bolder;
}

.custom-dropdown-main {
    background-color: #933800;
    
}

.custom-dropdown-item {
    background-color: #933800;
    color: #FFBB07;
    font-size: 17px;
    font-weight: bolder;
    transition: background-color 0.5s ease; 
}

.custom-dropdown-item:hover {
    background-color: #FFBB07;
    color: black;
}

.table {
    background-color: antiquewhite;
}

.table {
    --bs-table-bg: antiquewhite;
}

.btn-primary {
    background-color: #933800;
    border-color: #933800;
}

.btn-primary:hover {
    background-color: #FFBB07;
    border-color: #FFBB07;
    color: black;
    transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}

.btn-custom{
    background-color: #FFBB07;
    border-color: #FFBB07;
    color: black;
    
}

.btn-custom:hover{
    background-color: #FFBB07;
    border-color: #FFBB07;
    color: black;
}


.ui-autocomplete {
    z-index: 1050;
    max-height: 200px; 
    overflow-y: auto; 
    border-radius: 10px;
    background-color: antiquewhite; 
    color: grey;
}
.ui-menu-item {
    padding: 5px 10px; 
    
}
.ui-menu-item:hover {
    background-color: antiquewhite; 
    color: black;
}
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: none;
    background: none;
}
.ui-menu .ui-menu-item-wrapper.ui-state-active {
    border: none;
    background-color: antiquewhite;
    color: black;
}

.fa-star {
    color: #FFBB07;
    font-size: 2em;
}

.modal-dialog {
    width: 400px;
    height: 300px;
    margin: auto;
    
    
 }

 .rating {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .modal-content {
    background-color: AntiqueWhite;
 }